.about {
	height: 560px;
}

.lineSeparator {
	width: 100%;
	height: 1px;
	border-top: 1px solid #fff;
	display: block;
}

.aboutWrapper {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.aboutTitle {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.aboutText {
	max-width: 575px;
	padding-left: 160px;
	padding-right: 85px;

	p {
		letter-spacing: 0;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.5;
	}
}
