.serviceWrapper {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.serviceCounter {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2.625;
}

.serviceName {
	letter-spacing: 1.5px;
	margin-left: 125px;
	font-size: 7.5rem;
	font-weight: 700;
	text-decoration: none;
}
