.learnMore {
	cursor: pointer;
	font-size: 1.75rem;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
	position: relative;
	letter-spacing: 0.7px;
	margin-top: 40px;
}

.learnMore::after {
	content: '';
	position: absolute;
	bottom: -11px; /* Отступ снизу */
	left: 0;
	width: 100%;
	height: 3px;
	background-color: white;
}
